<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>

<header class="header-area header-sticky" th:fragment="navbar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/}" class="logo">
                        <img th:src="@{/images/logo.png}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a th:href="@{/}" class="active">Home</a></li>
                        <li><a th:href="@{/meets/all}">All meets</a></li>
                        <li><a th:href="@{/meets/add}" sec:authorize="isAuthenticated()">Add a meet</a></li>
                        <li><a th:href="@{/pages/moderators}" sec:authorize="hasRole('MODERATOR')">Moderators</a></li>
                        <li><a th:href="@{/pages/admins}" sec:authorize="hasRole('ADMIN')">Admins</a></li>
                        <li><a th:href="@{/users/login}" sec:authorize="!isAuthenticated()">Login</a></li>
                        <li><a th:href="@{/users/register}" sec:authorize="!isAuthenticated()">Register</a></li>
                        <li>
                            <form
                                    sec:authorize="isAuthenticated()"
                                    th:method="post"
                                    th:action="@{/users/logout}">
                                <input class="btn btn-link nav-link" type="submit" value="Logout">
                            </form>
                        </li>
                        <li><a th:href="@{/users/account/{id}(id=${#authentication.principal.entityId})}" sec:authorize="isAuthenticated()">
                            <th:block sec:authentication="principal.username"></th:block>
                            <img th:src="@{/images/profile-header.jpg}" alt=""></a>
                        </li>
                    </ul>

                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

</body>
</html>
