<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>

<header class="header-area header-sticky" th:fragment="navbar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/}" class="logo">
                        <img th:src="@{/images/logo.png}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a th:href="@{/}" class="active">Home</a></li>
                        <li><a th:href="@{/meets/all}">All meets</a></li>
                        <li><a th:href="@{/meets/add}" sec:authorize="isAuthenticated()">Add a meet</a></li>
                        <li><a th:href="@{/pages/moderators}" sec:authorize="hasRole('MODERATOR')">Moderators</a></li>
                        <li><a th:href="@{/pages/admins}" sec:authorize="hasRole('ADMIN')">Admins</a></li>
                        <li><a th:href="@{/users/login}" sec:authorize="!isAuthenticated()">Login</a></li>
                        <li><a th:href="@{/users/register}" sec:authorize="!isAuthenticated()">Register</a></li>
                        <li><a th:href="@{/users/logout}" sec:authorize="isAuthenticated()">Logout</a></li>
                        <li><a href="profile.html" sec:authorize="isAuthenticated()"><th:block sec:authentication="principal.username"></th:block><img th:src="@{/images/profile-header.jpg}" alt=""></a></li>
                    </ul>

                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<script th:src="@{/js/isotope.min.js}"></script>
<script th:src="@{/js/owl-carousel.js}"></script>
<script th:src="@{/tabs.js}"></script>
<script th:src="@{/js/popup.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>
</html>
