<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/preloader :: preloader}"></div>

<header th:replace="~{fragments/navbar :: navbar}"></header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content" th:object="${meet}">
                <input type="hidden" name="meetId" id="meetId" th:value="*{id}">

                <!-- ***** Banner Start ***** -->
                <div class="main-banner" th:style="'background-image: url(' + *{thumbnailUrl} + ')'">
                    <div class="meet-title">
                        <h4 th:text="*{meetTitle}">meet title</h4>
                    </div>
                </div>
                <!-- ***** Banner End ***** -->

                <div class="most-popular">
                    <div class="row">
                        <h2>Comments:</h2>
                        <div class="col-lg-12">
                            <div class="row" >
                                <span id="commentsCntr"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="most-popular">
                    <div class="row">
                        <div class="col-lg-12" id="commentCtnr">
                            <div sec:authorize="isAuthenticated()">
                                <form id="commentForm"
                                      th:action="@{/comments/add/{id}(id=*{meetId})}"
                                      th:method="POST"
                                      th:object="${addCommentDTO}">
                                    <div class="form-group">
                                        <h4>Leave a comment</h4>
                                        <label for="content">Message</label>
                                        <textarea name="content"
                                                  id="content"
                                                  cols="30"
                                                  rows="5"
                                                  class="form-control"
                                                  style="background-color: white;"></textarea>
                                        <small id="contentError" class="invalid-feedback">
                                            Comment should be at least 10 characters.
                                        </small>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="main-button">
                                                <input type="submit" class="btn btn-info btn-lg" id="comment-input" value="Add comment"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script th:src="@{/js/comments.js}"></script>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>