<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head :: head}"></head>

<body>

<div th:replace="~{fragments/preloader :: preloader}"></div>

<header th:replace="~{fragments/navbar :: navbar}"></header>
<!-- ***** Header Area End ***** -->

<div class="container">
  <div class="row">
    <div class="col col-lg-12">
      <div class="page-content">
        <div class="most-popular">
          <div class="row">
            <div class="col-lg-12" th:object="${editMeetDTO}">
              <div class="heading-section">
                <h4><em>Add meet: </em></h4>
              </div>

              <form th:action="@{/meets/edit/{id}(id=*{id})}"
                    th:method="POST"
                    th:object="${editMeetDTO}"
                    class=" text-center text-light">

                <div class="form-group">
                  <div class="row">
                    <div class="col-3">
                      <h4 for="meetTitle" class="header-text">Meet title: </h4>
                    </div>
                    <div class="col-9">
                      <input type="text" class="form-control"
                             id="meetTitle"
                             name="meetTitle"
                             th:value="*{meetTitle}"
                             aria-describedby="nameHelpInline" placeholder="Title">
                      <small th:if="${#fields.hasErrors('meetTitle')}"
                             id="meetTitleHelpInline" class="bg-danger text-light rounded">
                        Title must be between 2 and 20 characters.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-3">
                      <h4 for="meetType" class="header-text">Meet type: </h4>
                    </div>
                    <div class="col-9">
                      <select
                              id="meetType"
                              name="meetType"
                              class="form-control"
                              aria-describedby="meetTypeHelpInline">
                        <option th:value="*{meetType}" selected>Meet Type</option>
                        <option th:each="type : ${T(com.example.meetup.domain.enums.MeetTypeEnum).values()}"
                                th:value="${type}" th:text="${type}">
                        </option>
                      </select>
                      <small th:if="${#fields.hasErrors('meetType')}"
                             id="meetTypeHelpInline" class="bg-danger text-light rounded">
                        You must select the category.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-3">
                      <h4 for="vehicleType" class="header-text">Vehicle type: </h4>
                    </div>
                    <div class="col-9">
                      <select
                              id="vehicleType"
                              name="vehicleType"
                              class="form-control"
                              aria-describedby="vehicleTypeHelpInline">
                        <option th:value="*{vehicleType}" selected>Vehicle Type</option>
                        <option th:each="type : ${T(com.example.meetup.domain.enums.VehicleTypeEnum).values()}"
                                th:value="${type}" th:text="${type}">
                        </option>
                      </select>
                      <small th:if="${#fields.hasErrors('vehicleType')}"
                             id="vehicleTypeHelpInline" class="bg-danger text-light rounded">
                        You must select the category.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-3">
                      <h4 for="description" class="header-text">Description: </h4>
                    </div>
                    <div class="col-9">
                      <textarea name="description"
                                required minlength="5"
                                id="description"
                                class="form-control"
                                th:value="*{description}"
                                aria-describedby="descriptionError">

                      </textarea>
                      <small id="descriptionError"
                             class="invalid-feedback  form-text bg-danger rounded">Description length must be more than 5
                        characters
                      </small>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-3">
                      <h4 for="date" class="header-text">Date: </h4>
                    </div>
                    <div class="col-9">
                      <input type="datetime-local"
                             class="form-control"
                             id="date" name="date"
                             th:value="*{date}"
                             aria-describedby="dateHelpInline">
                      <small th:if="${#fields.hasErrors('date')}" id="dateHelpInline" class="bg-danger text-light rounded">
                        Start date should be in the future.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="main-button">
                      <input type="submit" value="Submit"/>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>

</html>