<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head :: head}"></head>

<body>

<!-- ***** Preloader Start ***** -->
<div th:replace="~{fragments/preloader :: preloader}"></div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header th:replace="~{fragments/navbar :: navbar}"></header>
<!-- ***** Header Area End ***** -->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content" th:object="${user}">

        <!-- ***** Banner Start ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="main-profile">
              <div class="row">
                <div class="col-lg-4">
                  <img th:src="*{profilePicUrl}" alt="" style="border-radius: 23px;">
                </div>
                <div class="col-lg-4 align-self-center">
                  <div class="main-info header-text">
                    <h4 th:text="*{fullName}">User user</h4>
                    <div class="main-border-button">
                      <a th:href="@{/users/edit/{id}(id=*{id})}">Edit Account</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 align-self-center">
                  <ul>
                    <li>Meets announced <span th:text="*{meetsAmnt}">0</span></li>
                    <li><div class="main-border-button"><a th:href="@{/meets/add}">Add new meet</a></div></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Banner End ***** -->

        <!-- ***** Gaming Library Start ***** -->
        <div class="gaming-library profile-library">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>Your</em> meets</h4>
            </div>
            <div th:each="meet : *{meets}" th:object="${meet}">
              <div class="item">
                <ul>
                  <li><img th:src="*{thumbnailUrl}" alt="" class="templatemo-item"></li>
                  <li><h4 th:text="*{meetTitle}">Your Meet</h4><span th:text="*{description}">desc</span></li>
                  <li><h4>Date: </h4><span th:text="*{date}">--/--/----</span></li>
                  <li><div class="main-border-button"><a th:href="@{/meets/edit/{id}(id=*{id})}">Edit</a></div></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Gaming Library End ***** -->
      </div>
    </div>
  </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>

</html>
